<?xml version="1.0" encoding="utf-8"?>
<configuration> 
  <system.windows.forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="false"/>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="false"/>
  </system.windows.forms.ApplicationConfigurationSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
